PROJECT_NAME=microservices
ENV=dev

POSTGRES_USER=app
POSTGRES_PASSWORD=app

AUTH_DB_NAME=auth_db
ORDERS_DB_NAME=orders_db
HISTORY_DB_NAME=orders_history_db

AUTH_DB_PORT=5432
ORDERS_DB_PORT=5433
HISTORY_DB_PORT=5434

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLIENT_ID=microservices-local
KAFKA_KRAFT_CLUSTER_ID=change-me-kraft-cluster-id

NGINX_HTTP_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

AUTH_SERVICE_PORT=8001
ORDERS_SERVICE_PORT=8002
HISTORY_SERVICE_PORT=8003
